:root {
    /*
        gray: f0f2f5
        white: f0f2f5
        olumlu-renk: 31a24c
    */
    --header-color: #ffffff;
    --body-color: #f0f2f5;
    --content-color: #ffffff;
    --positive-color: #31a24c;
    --negative-color: #ff3d54;
    --update-color: #f0b90b;
    --notification-color: #cb132e;
    --border: 0.1rem solid gray;
}

* {
    font-family: Inter, sans-serif;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

body {
    background-color: var(--body-color);
}

.top-menu {
    background-color: var(--header-color);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 0.5%;
    position: fixed;
}

.top-menu-left {
    width: 25%;
}

.top-menu .top-menu-left img {
    height: 100%;
    width: auto;
    margin-left: 10%;
}

.top-menu-right {
    width: 20%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* Öğeleri sağa hizalar */
    align-items: center;
    gap: 1px;
}

.top-icons {

    display: block !important;
    width: 40px;
}

.top-menu .top-menu-right .top-menu-profil img {
    height: 50px;
    width: 50px;
    cursor: pointer;
    object-fit: cover;
    border-radius: 100%;
}

.top-menu .top-menu-right a {
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.container {
    background-color: var(--body-color);
    padding-top: 10%;
}

.container .left-menu {
    width: 300px;
    min-height: 100%;
    position: fixed;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    gap: 2px;

}

.container .left-menu a {
    color: #000;
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.container .left-menu a img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding-right: 8%;
    border: 2px solid gray;
    border-bottom-left-radius: 40%;

}

.container .content-box {
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    padding-left: 30%;
    min-height: 80vh;
    max-height: 90vh;
    max-width: 100vh;
    overflow: auto;
}

.content-box .content-header {
    display: flex;
    flex-direction: row;
    padding-bottom: 5%;
    background-color: var(--header-color);
    padding-left: 2%;
    padding-top: 2%;
}

.content-box .content-header-img {
    padding-right: 1%;
    height: 50px;
    width: auto;
}

.content-box .content-header-img img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.content-box .content-header .content-header-info a,
p {
    color: #000;
    font-size: 18px;
    font-weight: 600;
}

.content-header-info p {
    font-size: 12px;
    font-weight: 400;
}

.content-box .content {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2%;
    background-color: var(--header-color);
}

.content-box .content p {
    height: 10vh;
    font-weight: 300;
    margin-left: 4%;

}

.content-box .content img {
    height: 50vh;
    object-fit: contain;
}

.content-box .interactive {
    background-color: var(--header-color);
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 2%;
}

.content-box .interactive .abc span {
    padding-left: 25%;
}

.content-box .interactive .in-interactive {
    display: flex;
    flex-direction: row;
    padding-top: 15%;
}

.content-box .interactive .like,
.comment {
    padding-left: 15%;
}

.content-box .interactive input {
    height: 48px;
}

.content-box .in-interactive-right {
    padding-right: 2%;
    display: flex;
    align-items: center;
}



.ustmenu-icons {
    width: 80px;
    text-decoration: none;
    color: #333;
    /* Metin rengi */
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    /* İstersek metni ortalarız */
    gap: 5px;
}

.ustmenu-icons:hover {
    cursor: pointer;
}

.left-bar-icons {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    gap: 4px;
    border-left: 1px solid #b1b4b2;
    border-width: 2px;
    border-radius: 40px;
    margin-top: 10px;
    padding-left: 10px;
}

.left-bar-icons img {
    height: 40px;
    margin-right: 10px;
}

.search-container {
    width: 45% !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.search-input {
    padding: 13px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 70%;
}

.search-button {
    padding: 13px 70px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  


  .top-content-box {
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    padding-left: 30%;
    max-width: 100vh;
    overflow: auto;
  }

  #myBtn {
    padding: 10px;
    margin-bottom: 10px;
    max-width: 40vh;
  }

  .modal-content p{
    text-align: center;
    font-size: 22px !important;
    font-weight: 500;
  }

.form-group { 
    width: 80% !important;
    display: flex !important;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 10%;
    gap: 10px;
}

.form-group textarea {
    font-size: 18px;
padding: 10px;
    width: 100%;
}

.form-group select {
    width: 50%;
    font-size: 18px;
padding: 10px;
text-align: left;
}

#info-photo {
    width: 48%;
    border: 2px solid #ccc;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }

  .form-group button {
    font-size: 18px;
    padding: 10px 15px;
    color: #000;
    background-color: #ffffff;
    border: 1 px solid #000;
    border-radius: 10px;
  }
  .form-group button:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #000;
    border: 1 px solid #f0f0f0;
  }