*{
    font-family: Inter,sans-serif;
    letter-spacing: 1px !important;
}

body{
    margin: 0 px !important;
}




lets-start-button{
    font-weight: 600 !important;
}

.siyah{
    background-color: #000 !important;
}

.buttons-cerceve{
    border-radius: 8px !important;
    font-size: 1.3rem !important;
    font-weight: 600 !important;
}

.yesil-cerceve {
    border: 1px solid #2cb34f !important;
    color: #2cb34f !important;
}

.login-btn:hover{
    background-color: #fff !important;
    color: #000 !important;
}

.signin-btn{
    background-color: rgb(220, 251, 110) !important;
    color:black !important;
    font-weight: 500 !important;
    border-radius: 28px !important;
}
.login-btn{
    color:black !important;
    font-weight: 500 !important;
    border-radius: 28px !important;
}

.signin-btn:hover{
    background-color: #2cb34f !important;
    color: #fff !important;
}

nav {
    background: linear-gradient(to right, #351250, #093028); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-bottom-right-radius: 75px;;
    border-bottom-left-radius: 75px;;
}

body{
    /* background-image: url(https://uploads-ssl.webflow.com/606adb499a08b6316654ea98/606aeb1005ece01fbde36c44_Mask-Group.jpg) !important; */
}
    body.anasayfa{
    /*background-image: url(https://uploads-ssl.webflow.com/606adb499a08b6316654ea98/606aeb1005ece01fbde36c44_Mask-Group.jpg) !important;*/
    background: #093028;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #237A57, #093028);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #351250, #093028); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media only screen and (max-width:1024px) {
    .giris-gorsel{
        height: 768px;
        background-repeat: no-repeat;
    }
}

@media only screen and (max-width:1920px) {
    .giris-gorsel{
        height: 1000px !important;
        
    }
}

.icerik{
    padding-top: 3% !important;
}

.icerik img{
    width: 600px !important;
    margin-left: 15%;
}

.icerik h2{
    color: #000 !important;
    font-size: 3.5rem !important;
    font-weight: 600 !important;
}

.icerik p{
    font-size: 1.3rem;
    font-weight: 500;
}

.icerik a{
    font-size: 1rem !important;
    font-weight: 600;
    border-color: #33ffcc;
}

.icerik a:hover{
    background-color: #33ffcc;
    border-color: #33ffcc;
    color: white;
}

.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.baslik-icerik{
    height: 100vh !important;
    padding-top: 10% !important;
    margin-left: 8% !important;
}

.baslik-icerik h1,h2{
    font-weight: 900 !important;
    font-size: 5rem !important;
    color: white !important;
}

.baslik-icerik p{
    font-weight: 600 !important;
    font-size: 2rem !important;
    margin-top: 4% !important;
    color: white !important;
}


/* Giriş Butonu */

.lets-start-button{
    
    display: inline-block;
    margin: 5% auto;
    
    -webkit-border-radius: 10px;
    
    -webkit-box-shadow: 
        0px 3px rgba(128,128,128,1), /* gradient effects */
        0px 4px rgba(118,118,118,1),
        0px 5px rgba(108,108,108,1),
        0px 6px rgba(98,98,98,1),
        0px 7px rgba(88,88,88,1),
        0px 8px rgba(78,78,78,1),
        0px 14px 6px -1px rgba(128,128,128,1); /* shadow */
    
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
    opacity: 0.95;
}

.lets-start-button span{
    background-color: #E8E8E8;
    
    background-image: 
        /* gloss gradient */
        -webkit-gradient(
            linear, 
            left bottom, 
            left top, 
            color-stop(50%,rgba(255,255,255,0)), 
            color-stop(50%,rgba(255,255,255,0.3)), 
            color-stop(100%,rgba(255,255,255,0.2))),
        
        /* dark outside gradient */
        -webkit-gradient(
            linear, 
            left top, 
            right top, 
            color-stop(0%,rgba(210,210,210,0.3)), 
            color-stop(20%,rgba(210,210,210,0)), 
            color-stop(80%,rgba(210,210,210,0)), 
            color-stop(100%,rgba(210,210,210,0.3))),
        
        /* light inner gradient */
        -webkit-gradient(
            linear, 
            left top, 
            right top, 
            color-stop(0%,rgba(255,255,255,0)), 
            color-stop(20%,rgba(255,255,255,0.5)), 
            color-stop(80%,rgba(255,255,255,0.5)), 
            color-stop(100%,rgba(255,255,255,0))),        
        
        /* diagonal line pattern */
        -webkit-gradient(
            linear, 
            0% 100%, 
            100% 0%, 
            color-stop(0%,rgba(255,255,255,0)), 
            color-stop(40%,rgba(255,255,255,0)), 
            color-stop(40%,#D2D2D1), 
            color-stop(60%,#D2D2D1), 
            color-stop(60%,rgba(255,255,255,0)), 
            color-stop(100%,rgba(255,255,255,0)));
    
        -webkit-box-shadow:
            0px -1px #fff, /* top highlight */
            0px 1px 1px #FFFFFF; /* bottom edge */
    
    -webkit-background-size: 100%, 100%, 100%, 4px 4px;
    
    -webkit-border-radius: 10px;
    -webkit-transition: -webkit-transform .1s ease-in-out;
    
    display: inline-block;
    padding: 10px 40px 10px 40px;
    
    color: #3A474D;
    font-weight: 600;
    font-size: 2rem;
    
    text-shadow: 0px 1px #fff, 0px -1px #262F33;
}

.lets-start-button span:hover{
    color: green;
    text-shadow: 0px -1px lawngreen;
    cursor: pointer;
}

.lets-start-button:active{
    -webkit-box-shadow: 
    0px 4px rgba(118,118,118,1),
    0px 3px rgba(128,128,128,1),
    0px 6px rgba(98,98,98,1),
    0px 5px rgba(108,108,108,1),
    0px 8px rgba(78,78,78,1),
    0px 7px rgba(88,88,88,1),
    0px 10px 2px 0px rgba(128,128,128,.6);
}

.lets-start-button:active span{
    -webkit-transform: translate(0, 5px);
}

.jb-footer{
    /* background-color: black !important; */
    background: #093028;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #237A57, #093028);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #351250, #093028); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
}

.jb-footer h4{
    color: gray ;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.jb-footer ul li{
    padding: 4% 0;
    font-size: 1.2rem;
    font-weight: 600;
    list-style-type: none;
}

.jb-footer ul li a{
    color: white;
    text-decoration: none;
}

.footer-logo a img{
    padding: auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.jb-footer .jb-footer-social-media{
    display: flex !important;
    flex-direction: column !important;    
    align-items: center !important;
    text-align: center !important;
}

.jb-footer .jb-footer-social-media a{
    padding: 4% 50% !important;
    width: 19% !important;
    height: 50% !important;
    font-size: 250% !important;
    text-decoration: none !important;
}

.jb-footer .jb-footer-social-media a i{
    transition: 0.5s all !important;
}

.jb-footer .jb-footer-social-media a:hover{
    -ms-transform: scale(1.1) !important;
    -webkit-transform: scale(1.1) !important;
    transform: scale(1.1) !important;
}

.jb-footer .jb-footer-social-media a:hover > i{
    transform: scale(1.5) rotate(360deg) !important;
}

=======
.tag-label{
    color:blue;
}


.tag-label:hover{
    cursor: pointer;
}

.tag-label:{
    color:green;
}

.label-active{
}

#selected-tags a {
    display: block;
}
.selected-tags a {
    position: relative;
    display: inline-block;
}

.selected-tags a::after {
    content: "✖"; /* Çarpı işareti simgesi */
    position: absolute;
    top: 0;
    right: 0;
    color: red; /* Çarpı işareti rengi */
}