@media (max-width: 768px) {
  
    body{
        margin: 0;
        padding: 0;
    }
 .top-menu {
    max-width: 600px;
    padding: 0;
    margin: 0;
    display: block;
 }

 .top-menu img {
    padding: 0;
    margin: 0;
 }

 .top-menu .menu-items{
    display: none;
 }

 .content h1{
    line-height: 50px;
    font-size: 50px;
 }
 
 #slogan span{
    line-height: 50px;
    font-size: 45px;
 }
 
.container {
    width: 95%;
    padding: 0;
    margin-left: 5%;
}

.container .content{
    margin-top: 50px;
    min-width: 100%;
    padding: 0;
}

.start-button {
padding: 20px 75px;
}

.container-two {
    width: 99%;
    padding:0;
    padding-left: 1%;
}
.what-junior{
    width: 100%;
    display: block;
}
.what-junior-img {
    display: block;
    height: auto;
}
.what-junior-img img{
    text-align: center;
    width: 80%;

}
.flex-container{
   display: block;
}

.container-three{
    display: table-row;
}

.check-container{
    width: 95%;
    padding: 0;
    margin-left:5%;

}
.check-junior{
    width: 95%;
    margin-left: 5%;
    overflow: auto;
}

.checklist{
    max-width: 98%;
}

.check-junior-img img{
    max-width: 70%;
    margin-left: 20px;
    height: auto;
}

footer{
display: none;}

P{
margin-left: 15px;
margin-right: 15px;
}

.how-work{
    padding-top:40px;
    padding-bottom:40px;
}

  }