:root{
    --header-color: #ffffff;
    --body-color: #f0f2f5;
    --content-color: #ffffff;
    --positive-color: #31a24c;
    --negative-color: #ff3d54;
    --update-color: #f0b90b;
    --notification-color: #cb132e;
    --border: 0.1rem solid gray;
    --head-blue:#69f5ff;
    --second-color:#01212e;
}

*{
    font-family: Inter, sans-serif;
    letter-spacing: 1px;
}

body{
  margin: 0 !important;
  padding: 0 !important;
}
.bg-dark{
    background-color: #00292d;
}

.color-green{
  color:#5dce77;
}
.color-white{
  color:#f0f2f5;
}

.border-bottom-right{
  border-bottom: solid 1px;
  border-right: solid 1px;
}

.border-bottom-left{
  border-top: solid 1px;
  border-left: solid 1px;

}

.border-bottom-left:hover{
  border-bottom: solid 1px;
  border-right: solid 1px;
}

.border-bottom-right:hover{
  border-top: solid 1px;
  border-left: solid 1px;
}

.text-center{
  text-align: center;
}

.text-white{
  color:var(--body-color);
}
.text-underline{
    text-decoration: underline;
    text-underline-offset: 4px;
}

nav{
  position: fixed;
  z-index: 10;
}
.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-left: 50px;

    top: 0;
    left: 0;
    width: 100%;
  }
  
  .logo-img{
   height: 100px;
   margin-left: 18%;
  }
  
  .menu-items {
    display: flex;
    gap: 30px;
    margin-right: 10%;
  }
  
  .menu-items a {
    padding: 8px;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;

  }
  
  .menu-items a:hover {
    color: var(--update-color) /* Renk değişikliği hovver durumunda */
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 7%;
  }
  
  .content {
    min-width: 45%;
    flex: 1;
    padding-right: 20px;
    padding-left: 100px;
  }
  
  .content h1 {
    color:white;
    font-size: 70px;
    line-height: 50px;
  }
  .content h2 {
    font-size: 70px;
    line-height: 50px;
  }

  .content p{
    color: white;
    font-size: 18px;
    line-height: 30px;
  }
  
  .head-blue{
    color:var(--head-blue);
  }

  .head-white{
    color:#f9f9fb;
  }
  .start-button {
    margin-top: 50px;
    padding: 20px 100px;
    background-color:var(--update-color);
    border: none;
    color: black;
font-size: 20px;
font-weight: 600;
letter-spacing: 2px;
    cursor: pointer;
    border-radius:10px;
    transition: background-color 0.3s, box-shadow 0.3s; 
    box-shadow: 0 12px 30px rgba(240, 237, 237, 0.2); /* Gölge efekti */
    text-decoration: underline;
    text-underline-offset: 4px;
  }
  
  .start-button:hover {
    background-color: #ff9800;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Gölge efekti artırıldı */

  }
  

  .image{
    text-align: center;
  }
  .image img {
    margin-top: 5%;
    max-width: 70%;
    height: auto;
  }


  .slogan-container {
    text-align: left;
    position: relative; /* Ebeveyn içinde pozisyonu ayarla */
    margin-bottom: 180px;
  }
  
  .slogan-container span {
    font-size: 70px;
    font-weight: 700;
    position: absolute;
    top: 0; /* Sloganları üst kenara hizala */
    left: 0; /* Sol kenara hizala */
    width: 100%; /* Tam genişlik */
    opacity: 0; /* Başlangıçta görünmez yapalım */
    transition: opacity 0.5s ease-in-out;
  }
  
  .slogan-container span.active {
    
    opacity: 1; /* Aktif olanı görünür yapalım */
  }

  .container-two{
    margin-top: 120px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: var(--body-color);
    padding: 50px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  

  .container-two h2{  
    font-size: 32px;
    text-align: center;
  }

  
  .flex-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
  }
  
  .what-junior, .what-junior-img {
    width: 48%; /* İkisi arasında boşluk bırakmak için */

  }
  .what-junior-img{
    margin-right: 80px;
    height: 400px;
    width: auto;
    text-align: center;
  }
  .what-junior-img img{
    height: 400px;
    width: auto;
   
  }

  p{
    font-size: 18px;
    
  }

  .container-three {
    margin-right: 0px;
    margin-left: 0px;
    padding: 30px 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Üç sütun */
    gap: 20px; /* Sütunlar arası boşluk */
  }
  
  .how-work {
    height: 275px;
    padding: 1px 20px;
    border: var(--border);
    text-align: center;
    box-shadow: 0 4px 15px rgba(240, 237, 237, 0.2); /* Gölge efekti */

  }

  .how-work h3{
    font-size: 20px;
    color: var(--update-color);
  }

  .how-work-head{
    font-size: 32px;
    color: var(--body-color);
    margin-top: 40px;
  }

  .how-work p{
    text-align: left;
    font-size: 16px;
  }
  .how-work img{
    height: 80px;
  }



  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    background-color: var(--body-color);
    color: var(--second-color);
  }
  
  .footer-logo img {
    height: 75px;
  }
  
  .footer-links a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    margin: 0 10px;
  }
  
  .footer-social img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    filter: grayscale(100%) brightness(7) invert(1); /* Sarı tonları beyaz renge döndürme */

  }
  

  .check-junior{
    width: 48%; /* İkisi arasında boşluk bırakmak için */
  }
  .check-junior h2{
    font-size: 32px;
  }
  .checklist {
    list-style-type: none;
    padding-left: 0;
  }
  .checklist li {
    line-height: 35px;
    margin-bottom: 10px;
  }
  .checkmark {
    margin-right: 10px;
    font-size: 24px;
    color:var(--positive-color)
  }
  .check-container {
    margin-right: 0px;
    margin-left: 0px;
    padding: 50px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .check-junior-img img{
    margin-right: 80px;
    height: 500px;
    width: auto;
  }

  .card{
    background-color: var(--body-color);
    border-radius:30px;
    width: 40%;
    margin: 0 auto;
    box-shadow: 0 12px 30px rgba(240, 237, 237, 0.2); /* Gölge efekti */

    
  }

  .card-login{
    background-color: var(--body-color);
    border-radius:30px;
    width: 35%;
    margin: 0 auto;
    box-shadow: 0 12px 30px rgba(240, 237, 237, 0.2); /* Gölge efekti */

    
  }


  .card-header {
    padding-top:20px;
    margin-top:25px;
  }

  .form-group {
    margin: 30px 25px 0px 25px;
  }

  .form-group label {
    margin-left: 5px;
  }
  .form-group input, .form-group select  {
    margin-top: 5px;
    padding-left: 10px;
    display: block;
    width: 100%;
    height: 35px;
    border: var(--border);
    border-radius: 10px;
  }
  .form-group textarea{
    margin-top: 5px;
    padding-left: 10px;
    display: block;
    width: 100%;
    border: var(--border);
    border-radius: 10px;
  }

  .form-group small{
    margin-top:8px;
  }

  .card-footer {
    padding: 40px ;
    text-align: center;
  }
  .card-footer input {
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    font-size: 24px;
    background-color: var(--positive-color);
    color: var(--body-color);
    border: var(--border);
    border-radius: 10px;
  }
  .card-footer input:hover {
   cursor: pointer;
  }

  .register-container{
    height: 900px;

  }

  .logo-div {
    text-align: center;
  }
  .logo-div img{
    height: 150px;
  }

  .fail-login {
    color: var(--negative-color);
    padding-bottom: 20px;
    text-align: left;
  }


#create-nickname, #get-tags-button {

  background-color: var(--positive-color);
color: var(--content-color);
font-size: 18px;
padding: 10px 100px;
margin:2% 2%;
border-radius: 10px;
border-color: var(--content-color);
}

#create-nickname:hover, #get-tags-button:hover{
cursor: pointer;
background-color: var(--content-color);
color: var(--second-color);
border-color: #01212e;
}

#nickname {
  margin-top: 2%;
  margin-bottom: 2%;
  border: 1px solid var(--second-color);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 18px;
}

.baslik{
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

#info-photo {
  border: 2px solid #ccc;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
